# Veri İşleme (Güncel ve wheel paketler)
pandas>=2.0.0
numpy>=1.24.0
openpyxl

# Görselleştirme
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
lightgbm

# Model Kaydetme
joblib

# Web Framework
streamlit
fastapi
uvicorn[standard]
gradio

# Utility
python-dotenv
tqdm

# Jupyter
jupyter
notebook
ipywidgets