
# Veri İşleme
pandas==2.1.4
numpy==1.26.2
openpyxl==3.1.2

# Görselleştirme
matplotlib==3.8.2
seaborn==0.13.0
plotly==5.18.0

# Machine Learning
scikit-learn==1.3.2
xgboost==2.0.3
lightgbm==4.1.0
catboost==1.2.2

# Model Kaydetme
joblib==1.3.2

# Web Framework
streamlit==1.29.0
fastapi==0.108.0
uvicorn==0.25.0
gradio==4.8.0

# Utility
python-dotenv==1.0.0
tqdm==4.66.1

# Jupyter
jupyter==1.0.0
notebook==7.0.6
ipywidgets==8.1.1